parameters:
    # NOTE: %rootDir% is `vendor/phpstan/phpstan`
    tmpDir: %rootDir%/tmp
    level: max
    paths:
        - src
        - tests
    typeAliases:
        NumberValueBase: '\EndouMame\PhpValueObject\Number\Decimal\DecimalValueBase|\EndouMame\PhpValueObject\Number\Integer\IntegerValueBase'
        DateTimeValueBase: '\EndouMame\PhpValueObject\DateTime\LocalDate|\EndouMame\PhpValueObject\DateTime\LocalTime|\EndouMame\PhpValueObject\DateTime\LocalDateTime'
    ignoreErrors:
        -
            # NOTE: PHP-CS-Fixer のルールと競合するため
            identifier: staticMethod.dynamicCall
